.carousel-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    flex: 1;
    width: 98%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.carousel {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100vw; */
    height: 70vh;
    /* transition: 2s ease; */
}

.angle {
    font-size: 30px;
}

button {
    color: white;
    background: rgb(255, 209, 93);
    border-radius: 5px;
}

.left-button, .right-button{
    width: 60px;
    margin: 0 5px;
    height: 92%; 
}

.left-select, .right-select{
    margin: 2px;
    padding: 7px;
    box-sizing: 50px;
}


