.carousel-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
    flex: 1;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}