.greeting-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

a {
    color: white;
    text-decoration: none;
    display: flex;;
    flex-direction: column;
    justify-content: center;
}
